In [1]:
# lets learn about the print statement
print("lets learn python")

lets learn python

In [8]:
# lets create the two variables
x=22
y="payal"
print(x)
print(y)

22
payal

In [15]:
# lets print the statement with string formating
print(f"{y} is {x} years old.")

payal is 22 years old.

In [9]:
# using format method
print("{} is {} years old.".format(y,x))

payal is 22 years old.

In [13]:
#using concateination method
print(y+ " is " +  str(x) +  " years old.")

payal is 22 years old.

In [14]:
# using older % string formating method
print("%s is %d years old." %(y,x))

payal is 22 years old.

2. Data Types

In [23]:
#numbers
x=50
y=50
print(f"the addition is {x+y} ")
print(f"the subtraction is {x-y}")
print(f" the mustiple is {x*y}")
print(f"the dividion is {x/y}")
print(f"the reminder is {x%y}")

the addition is 100
the subtraction is 0
 the mustiple is 2500
the dividion is 1.0
the reminder is 0

.String

In [30]:
#single coated string
single_quoted_string="I am learning python "
print("single_quoted _string =",single_quoted_string)
# double coated string
double_quoted_string='Python is awesome '
print("double_quoted _string =",single_quoted_string)

single_quoted _string = I am learning python
double_quoted _string = I am learning python

In [2]:
#string concatenation 
concatenated_string = single_quoted_string + '.' + double_quoted_string
print("concatenated_string =", concatenated_string)

NameError: name 'single_quoted_string' is not defined

In [1]:
#uppercase string
uppercase_string= concatenated_string.upper()
lowercase_string= concatenated_string.lower()
print(uppercase_string)
print(lowercase_string)

NameError: name 'concatenated_string' is not defined

In [3]:
#string sliching example
word="arun jaiswal"
slice_word = word[3:7]
print("slice word is",slice_word)

slice word is n ja

In [5]:
word_space= "   pokhara university     "
remove_space=word_space.strip()
print(word_space)
print(remove_space)

   pokhara university
pokhara university

In [7]:
word_list=["kali","Linux","used","is","for","hacking "]
print(word_list)
sentence=" ".join(word_list)
print(sentence)

['kali', 'Linux', 'used', 'is', 'for', 'hacking ']
kali Linux used is for hacking

In [14]:
word_lists="hello world"
replaced_string=word_lists.replace("hello","Cybersecurity")
print(replaced_string)

Cybersecurity world

In [19]:
#find a word in a sentence
word="python is awsesom . i am learning cresh coures."
index=word.find("learning")
print("index of is learning",index)

index of is learning 25

list

In [20]:
#creating a list
fav_movie=["hami 3 bhai","papi manxe","aadi purush","hera pheri"]
print(fav_movie)

['hami 3 bhai', 'papi manxe', 'aadi purush', 'hera pheri']

In [32]:
#accessing the element of list
print("arun fav movie is",fav_movie[1])
print("payal fav movie is",fav_movie[-1])

arun fav movie is papi manxe
payal fav movie is hera pheri

In [33]:
#find the length os list
print("the length id the list is :",len(fav_movie))

the length id the list is : 4

In [35]:
#list can contain heterogeneous data types
list1=["apple","banana","cherry"]
list2=[2,5,7,9]
list3=[True,False,True,False]
list4=["apple",5,True]
print(list1)
print(list2)
print(list3)
print(list4)

['apple', 'banana', 'cherry']
[2, 5, 7, 9]
[True, False, True, False]
['apple', 5, True]

In [38]:
#lets find the type od data types
print(type(list2))

<class 'list'>

In [42]:
#nested list
nested_list=["one piece","load of the rings",[9,10]]
print(nested_list)
print("IMDB Rating:",nested_list[2][1])

['one piece', 'load of the rings', [9, 10]]
IMDB Rating: 10

Distionary

In [50]:
# creating a distionary
student={
    "name":"Arun",
    "major":"computing ",
    "CGPA":"3.59",
}
print(student)
# accessing the distionery item
print("student name is:",student["name"])

#adding a new element
student["year"]=2025
#print the distionery as a string
print(repr(student))


#modify an existing item
student["CGPA"]=3.8
print(repr(student))

#delete an item if it exist
if "year" in student :del student["year"]
print(repr(student))

{'name': 'Arun', 'major': 'computing ', 'CGPA': '3.59'}
student name is: Arun
{'name': 'Arun', 'major': 'computing ', 'CGPA': '3.59', 'year': 2025}
{'name': 'Arun', 'major': 'computing ', 'CGPA': 3.8, 'year': 2025}
{'name': 'Arun', 'major': 'computing ', 'CGPA': 3.8}

In [51]:
car_dict=dict(name="tesla",company="tesla",price=10)
print(repr(car_dict))

{'name': 'tesla', 'company': 'tesla', 'price': 10}

practice

In [ ]:
print("Your Name")

In [ ]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
print("Sum:", num1 + num2)

In [2]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
result = num1 + num2
print("Sum: {:.2f}".format(result))

Enter first number: 2
Enter second number: 2
Sum: 4.00

In [ ]:
a, b = 0, 1
for _ in range(10):
    print(a, end=" ")
    a, b = b, a + b

In [ ]:
num = int(input("Enter a number: "))
for i in range(1, 11):
    print(num, "x", i, "=", num * i)

In [ ]:
for i in range(10, 0, -1):
    print(i)

In [8]:
rows = 5
for i in range(1, rows + 1):
    print("*" * i)

*
**
***
****
*****

In [7]:
import datetime
print("Current date and time:", datetime.datetime.now())

Current date and time: 2024-05-12 16:57:36.734849

In [1]:
print("Your Name")

Your Name

In [3]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
print("Sum:", num1 + num2)

Enter first number: 1
Enter second number: 3
Sum: 4.0

In [4]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
result = num1 + num2
print("Sum with two decimal places: {:.2f}".format(result))

Enter first number: 2
Enter second number: 3
Sum with two decimal places: 5.00

In [5]:
a, b = 0, 1
for _ in range(10):
    print(a, end=" ")
    a, b = b, a + b

0 1 1 2 3 5 8 13 21 34

In [6]:
num = int(input("Enter a number: "))
for i in range(1, 11):
    print(f"{num} x {i} = {num*i}")

Enter a number: 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [7]:
print(", ".join(map(str, range(10, 0, -1))))

10, 9, 8, 7, 6, 5, 4, 3, 2, 1

In [ ]:
print(", ".join(map(str, range(10, 0, -1))))

In [ ]:
rows = 5
for i in range(1, rows + 1):
    print("* " * i)

In [ ]:
import datetime
print("Current date and time:", datetime.datetime.now())

In [ ]:
import math
radius = float(input("Enter the radius of the circle: "))
area = math.pi * radius ** 2
print("Area of the circle:", area)

In [ ]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
if num2 != 0:
    print("Division result:", num1 / num2)
else:
    print("Cannot divide by zero!")

In [ ]:
num = int(input("Enter a number: "))
factorial = 1
for i in range(1, num + 1):
    factorial *= i
print("Factorial of", num, "is", factorial)

In [ ]:
import random
random_number = random.randint(1, 100)
print("Random number:", random_number)

In [ ]:
string = input("Enter a string: ")
print("Reversed string:", string[::-1])

In [ ]:
string = input("Enter a string: ")
if string == string[::-1]:
    print("Palindrome")
else:
    print("Not a palindrome")

In [ ]:
string = input("Enter a string: ")
words = string.split()
print("Number of words:", len(words))

In [ ]:
sentence = input("Enter a sentence: ")
words = sentence.split()
print("Reversed sentence:", " ".join(words[::-1]))

In [ ]:
string = input("Enter a string: ")
print("Lowercase:", string.lower())

In [ ]:
list1 = [1, 2, 3, 4, 5]
list2 = [6, 7, 8, 9, 10]
print("Common elements present:", any(item in list1 for item in list2))

In [ ]:
my_dict = {'a': 1, 'b': 2, 'c': 3}
print("Keys:", list(my_dict.keys()))

In [ ]:
my_dict = {'a': 1, 'b': 2, 'c': 3}
print("Keys:", list(my_dict.keys()))

In [ ]:
my_dict = {'a': 1, 'b': 2, 'c': 3}
print("Sum of values:", sum(my_dict.values()))

Dictionaries

In [10]:
#boolean : lets learn boolean 
print("\nExample 1: cOMPARING VALUES:")
print("IS 100 is smaller than 200?",200>100)
print("Is 50 is equal to 100?",50==100)

Example 1: cOMPARING VALUES:
IS 100 is smaller than 200? True
Is 50 is equal to 100? False

In [12]:
#example 2 find the greated=st number among 
x=50 
y=200
if x>y:
    print(f"{x} is greater than {y}.")
else:
    print(f"{y} is greater than {x}.")

200 is greater than 50

In [15]:
# evaluating values and variables
print("Is 'Hello' True?",bool("Hello"))
x="Hi"
y=25
print("Is x True",bool(x))
print("Is y True",bool(y))

Is 'Hello' True? True
Is x True True
Is y True True

In [18]:
# lets practice function returns boolean
def is_Even(num):
    return num % 2 == 0
print("Is 20 is even?",is_Even(20))
print("Is 15 is even?",is_Even(15))

Is 20 is even? True
Is 15 is even? False

In [19]:
#tuples : lets learn about tuples
fav_movies=("Animal","One Piece","tiger 3")
print(fav_movies)

('Animal', 'One Piece', 'tiger 3')

In [21]:
# Accesssing the fav movies
print("Arun fav movies is :",fav_movies[0])
print("payal fav movies is :",fav_movies[2])

Arun fav movies is : Animal
payal fav movies is : tiger 3

In [23]:
x,y,z=fav_movies
print("seperate movies:",x,y,z)

seperate movies: Animal One Piece tiger 3

In [27]:
for movies in fav_movies:
    print(movies)

Animal
One Piece
tiger 3

In [29]:
# joining the two tuples
firstTuple=("apple","banana","cherry")
secondTuple=(1,2,5)
joinTuple=firstTuple+secondTuple
print(joinTuple)

('apple', 'banana', 'cherry', 1, 2, 5)

In [44]:
#adding a new fruit to our set
myFirst_et={"orange","abanana","cherry"}
print(myFirst_et)

{'cherry', 'abanana', 'orange'}

In [45]:
#adding a new fruit to our set
myFirst_et.add("apple")
print(myFirst_et)

{'cherry', 'abanana', 'orange', 'apple'}

In [46]:
#adding a new fruit to our set
myFirst_et.update("mango","grapes")
print(myFirst_et)

{'n', 'o', 'r', 'e', 's', 'a', 'm', 'cherry', 'g', 'abanana', 'orange', 'p', 'apple'}

In [47]:
#adding a new fruit to our set
myFirst_et.remove("apple")
print(myFirst_et)

{'n', 'o', 'r', 'e', 's', 'a', 'm', 'cherry', 'g', 'abanana', 'orange', 'p'}

In [43]:
# comparison operator
#find greatedst num

a=20
b=50
c=70
if a>=b and a>=c:
    print(f"{a} is the  greatest number.")
elif b>=a and b>=c:
    print(f"{b} is the  greatest number.")
else:
     print(f"{c} is the  greatest number.")

70 is the  greatest number.

In [51]:
#leap year
year=2024
if (year%4==0 and year % 100 != 0) or (year% 400 ==0):
    print("leap year")
else:
    print("not leap year")

leap year

In [2]:
# loops
multple_of_5=[5,10,15,20,25]
print("\nMultiple of five:")
for num in multple_of_5:
    print(num)

Multiple of five:
5
10
15
20
25

In [6]:
#lets work with string
string="Hi i am learning"
for char in string:
    print(char)

H
i

i

a
m

l
e
a
r
n
i
n
g

In [7]:
#range
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [9]:
for i in range(1,5):
    print(i)

1
2
3
4

In [12]:
# even no. from 1-10
for i in range(0,11,2):
    print(i)

0
2
4
6
8
10

In [13]:
# odd no. from 1-10
for i in range(1,11,2):
    print(i)

1
3
5
7
9

In [18]:
# odd no. from 20-11
for i in range(19,10,-2):
    print(i)

19
17
15
13
11

In [19]:
# lets use dictionary 
fav_movie={
    "Animal":9,
"Kabir singh":8,
    "bareaking bad":9
}
for key,value in fav_movie.items():
    print(key,":",value)

Animal : 9
Kabir singh : 8
bareaking bad : 9

In [20]:
#lets learn loop with tuple
fruits=[("Apple",10),("banana",12),("cherry",4)]
print("\nElements of fruits tuple:")
for item in fruits:
    print(item)

Elements of fruits tuple:
('Apple', 10)
('banana', 12)
('cherry', 4)

In [21]:
# lets seperste each element from tuple fruits
for char, num in fruits:
    print("character:",char,"| quantity",num)

character: Apple | quantity 10
character: banana | quantity 12
character: cherry | quantity 4

In [22]:
#lets learn while loop
count=1
while count <=10:
    print(count)
    count=count+1

1
2
3
4
5
6
7
8
9
10

In [26]:
#lets learn while loop
count=1
sum=0
while count <=10:
    sum +=count
    count +=1
print("\n THe sum is:",sum)

 THe sum is: 56

In [29]:
sum=0
num=1
while num<= 10:
    if num%2==0:
        sum += num
    num+=1
print("sum of even:",sum)

sum of even: 30

In [31]:
# find the even number from 1 to 10 using while loop
sum=0
num=1
while num<= 10:
    if num%2==0:
        sum += num
        print(sum)
    num+=1

2
6
12
20
30

In [ ]:
# find the factorial of 5
count=5
factorial=1
while count <=5:
    
    factorial *= count
    count -= 1
print(factorial)

In [ ]:
#reversre the string

In [ ]:
#function : lets greet first
def greet():
    print("hello world!!!")
greet()

In [1]:
# function with parameter
def greet(name):
    print("hello",name)
greet("bata")
greet("payal")

hello bata
hello payal

In [2]:
# functio with writteen value
def square(a):
    return a**2
result=square(10)
print(result)

100

In [4]:
#funstion with default parameter value
def greet_with_default(name="world"):
    print("hello",name)
greet_with_default()
greet_with_default(name="Python")

hello world
hello Python

In [5]:
#function with default values :find the min and max number
def min_max(num):
    return min(num),max(num)
num=[1,5,10,100,250]
min_num,max_num=min_max(num)
print("min num",min_num)
print("max num",max_num)

min num 1
max num 250

In [41]:
# recursive function to calculate factorial
def factorail(n):
    if n==0:
        return 1
    else:
        return n* factorail(n-1)
print("factorail of 5:", factorail(5))

factorail of 5: 120

In [14]:
# function with variable of arguments
def sum(*arg):
    total =0
    for num in arg:
        total += num
    return total
print("sum", sum(1,3,5,7))

sum 16

In [16]:
# lembda expression or function
square = lambda x:x**2
print("square of 5",square(5))

square of 5 25

In [17]:
# addition of two num
sum= lambda x,y:x+y
print("sum",sum(10,20))

sum 30

In [18]:
# sorting based on length(characters) of name 
names = ["bata","payal","popo","bajes"]
sorted_names = sorted(names,key=lambda name: len(name))
print("sprted name",sorted_names)

sprted name ['bata', 'popo', 'payal', 'bajes']

In [20]:
# even numbers in a list 
num=[2,3,5,8,6,20,25,26,7,101,103]
even_numbers=list(filter(lambda x: x%2==0,num))
print("even no.s",even_numbers)

even no.s [2, 8, 6, 20, 26]

In [21]:
# mapping of function to a list using lambda function
num=[1,2,3,4,5,6,7,8,9]
square_list=list(map(lambda x:x**2,num))
print("suuare of numbers",square_list)

suuare of numbers [1, 4, 9, 16, 25, 36, 49, 64, 81]

In [26]:
#lets learn list methodabss 
my_list=[1,4,9,16,25,36,49,64,81]
# append
my_list.append(100)
print("My list after append",my_list)

# pop(): removes and return the last element from the list
my_list.pop()
print("poped list",my_list)

#sort
new_list=[10,5,2,17,29]
new_list.sort()
print("sorted list",new_list)

# reserve()
new_list.reverse()
print("reversed list",new_list)

My list after append [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
poped list [1, 4, 9, 16, 25, 36, 49, 64, 81]
sorted list [2, 5, 10, 17, 29]
reversed list [29, 17, 10, 5, 2]

In [34]:
# using dictionary method
my_dict={
    "apple":20,
    "banana":12,
    "chery":5
    
}
# key() return a view of all keys in given dict
print("keys():",my_dict.keys())

# values 
print("values():",my_dict.values())

# items() 
print("items():",my_dict.items())

#get() return a view of specificed key or  return default values if not found
print("Items():",my_dict.get("apple"))

keys(): dict_keys(['apple', 'banana', 'chery'])
values(): dict_values([20, 12, 5])
items(): dict_items([('apple', 20), ('banana', 12), ('chery', 5)])
Items(): 20

In [38]:
pip install pandoc

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandoc in c:\users\jaisa\appdata\roaming\python\python311\site-packages (2.3)
Requirement already satisfied: plumbum in c:\users\jaisa\appdata\roaming\python\python311\site-packages (from pandoc) (1.8.3)
Requirement already satisfied: ply in d:\anaconda\lib\site-packages (from pandoc) (3.11)
Requirement already satisfied: pywin32 in d:\anaconda\lib\site-packages (from plumbum->pandoc) (305.1)
Note: you may need to restart the kernel to use updated packages.